*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.first{
    min-height: 100vh;
    background: url("./img/productbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.navbar{
    background-color: black;
    /* border-radius: 30px; */
}

.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 170px;
}

.navbar li a:hover{
    color: red
}
body{
    background-color: #f5e59c;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #d1bdbd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: 50%;
}
.ccontent{
    padding: 16px;
}
.ccontent h3{
    font-size: 29px;
    margin-bottom: 8px;
    font-weight: 600;
}
.ccontent p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.ccontent .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #f0f0f0;
}
.ccontent .btn:hover{
    background-color: gray;
}
.more p{
    text-align: center;
}
.more p a{
    
    display: inline-block; 
    padding: 8px 16px;
    background-color: gray;
    text-decoration: none; 
    border-radius: 4px; 
    margin: 10px 0px;
    color: #111010;
}
.more p a:hover{
    background-color: rgb(179, 190, 12);
}




.footer {
    position: relative;
    width: 100%;
    background: #6a7201;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }